<div class="container d-flex justify-content-center align-items-center">
  <div class="row w-50 gy-3 gx-0 p-3 mt-5 d-flex justify-content-center shadow-lg color rounded-2">
    <a class="btn btn-primary col-8 All1" [routerLink]="'../updateCollege'">update College</a>
    <a class="btn btn-primary col-8 All1" [routerLink]="'../updateDepartment'">update Department</a>
    <a class="btn btn-primary col-8 All1" [routerLink]="'../updateYear'">update Year</a>
    <a class="btn btn-primary col-8 All1" [routerLink]="'../updateSubject'">update Subject</a>
    <a class="btn btn-primary col-8 All1" [routerLink]="'../updateUser'">update User</a>
  </div>
  </div>
