@if (isBoolen()) {
  <div class="bg-body-secondary d-flex flex-column justify-content-center align-items-center py-4">
    @if (name!=undefined ) {
      <div class="col-10 py-2 d-flex justify-content-center">
      <h3 class="fw-bold text-dark All2"> {{name}}</h3>
      </div>
    }
      <div class="col-10 py-2">
        <a (click)="setContent(summarys)" style="background-color: #77A0F2;"
           class="btn text-light w-100 All2">summary</a>
      </div>
      <div class="col-10 py-2">
        <a (click)="setContent(reviews)" style="background-color: #77A0F2;"
           class="btn text-light w-100 All2">reviews</a>
      </div>
      <div class="col-10 py-2">
        <a (click)="setContent(exams)" style="background-color: #77A0F2;"
           class="btn text-light w-100 All2">exams</a>
      </div>
      <div class="col-10 py-2">
        <a (click)="setContent(tests)" style="background-color: #77A0F2;"
           class="btn text-light w-100 All2">tests</a>
      </div>
  </div>
  }
