<div class="container d-flex justify-content-center align-items-center">
  <div class="row w-50 gy-3 gx-0 p-3 mt-5 d-flex justify-content-center shadow-lg color rounded-2">
    <a class="btn btn-primary col-8 All1" [routerLink]="'../deleteCollege'">Delete College</a>
    <a class="btn btn-primary col-8 All1" [routerLink]="'../deleteDepartment'">Delete Department</a>
    <a class="btn btn-primary col-8 All1" [routerLink]="'../deleteYear'">Delete Year</a>
    <a class="btn btn-primary col-8 All1" [routerLink]="'../deleteSubject'">Delete Subject</a>
    <a class="btn btn-primary col-8 All1" [routerLink]="'../deleteUser'">Delete User</a>
  </div>
  </div>
