a{
  text-decoration: none;
  color: #000;
}
.All {
  display: flex;
  justify-content: space-evenly;
}

.All2 {
  display: flex;
  flex-direction: column;
}
.All3{
  display: flex;
  justify-content:space-around;
}

.textc {
  text-align: center;
}

.d{
  display: none;
}
.viowdowen{
  animation: viwedisplay 0.6s forwards;
}

@keyframes viwedisplay {
  from {
      transform: translate(0px, -10px);
      opacity: 0;
  }
  to {
      transform: translate(0);
      opacity: 1;
  }
}
.viwelfet{
  animation: viweleft 2s forwards;
}
@keyframes viweleft {
  from {
      transform: translate(-100%,0px);
      opacity: 0;
  }
  to {
          transform: translate(0);
      opacity: 1;
  }
}
.viwecenter{
  animation: viwecent 2s forwards;
}
@keyframes viwecent {
  from {
      transform: translate(0,50px);
      opacity: 0;
  }
  to {
      transform: translate(0);
      opacity: 1;
  }
}
.viweright{
  animation: viwerght 2s forwards;
}
@keyframes viwerght {
  from {
      transform: translate(100%,0px);
      opacity: 0;
  }
  to {
      transform: translate(0);
      opacity: 1;
  }
}
html, body {
  height: 100%;
  margin: 0;
}

.cont {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}
@media screen and (max-width:500px) {
  .font1 {
      font-size: 4vw;
      font-weight: bolder;
  }

  .font2 {
      font-size: 3.3vw;
      font-weight: bolder;
  }

  .font3 {
      font-size: 3vw;
      font-weight: bolder;
  }
  .imgw{
      width: 65%;
  }
}
@media screen and (min-width:501px) {
  .font1 {
      font-size: 2.2vw;
      font-weight: bold;
  }

  .font2 {
      font-size: 1.9vw;
      font-weight: bold;
  }

  .font3 {
      font-size: 1.6vw;
      font-weight: bold;
  }
  .imgw{
      width:50%;
  }
}
