<!-- @for (data of all; track data) { -->
  <div
          class="col-11 col-sm-3 color d-flex align-items-center justify-content-center py-3 py-sm-1 my-3 my-sm-0 All"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-custom-class="custom-tooltip"
          data-bs-title="كلية التربية بجامعة سوهاج تعد من الكليات الأساسية التي تهدف إلى إعداد معلمين مؤهلين للتدريس في مختلف المراحل
          التعليمية. تأسست الكلية في عام 2007، وهي تسعى لتحقيق التميز في التعليم والتدريب التربوي من خلال برامج أكاديمية متميزة وشراكات مع المدارس والمؤسسات التعليمية."
        >
          <a
            href="التربية.html"
            target="_blank"
            class="col-12 d-flex flex-column align-items-center justify-content-center"
          >
            <img
              class="col-4 col-sm-6 mx-auto d-block"
              src="372937.svg"
              alt="التربية"
            />
            <p
              class="All1 d-none row d-sm-flex justify-content-center align-items-center"
            >
              التربية
            </p>
          </a>
        </div>
<!-- } -->
