<nav id="nav" class="navbar navbar-expand w-100 py-2 py-sm-1">
  <div class="container-fluid w-100 row">
    <ul
      class="navbar-nav nav-pills row d-flex align-items-center justify-content-center"
    >
    <div class="col-2 d-none d-sm-flex">
      <li
        class="nav-item col-0 col-sm-12 d-none d-sm-flex justify-content-end"
      >
      <a href="#" class="d-flex justify-content-end nav-link hov"><img style="width: 2.8vw" src="372897.svg" alt="photo" /></a>
      </li>
    </div>
    <div class="col-10 col-sm-8 d-flex justify-content-center">
      <li class="nav-item col-2 d-flex justify-content-end">
        <a href="#" class="All nav-link hov"><i class="icwn fa-solid fa-house-chimney"></i></a>
      </li>
      <li class="nav-item col-3 col-sm-2 d-flex justify-content-end">
        <div class="dropdown">
          <a href="#plans" class="btn dropdown-toggle All nav-link text-light hov" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            الكليات
          </a>
          <ul class="dropdown-menu bg-primary-subtle">
            <div class="btn-toolbar flex-wrap px-1 px-sm-3">
              <div class="btn-group col-10">
                <li class="list-group-item col-5 col-sm-6 me-2"><a class="dropdown-item All3" target="_blank" href="./pages/التربية.html">كلية التربية</a></li>
                <li class="list-group-item col-5 col-sm-6"><a class="dropdown-item All3" target="_blank" href="./pages/الاداب.html">كلية الاداب</a></li>
              </div>
              <div class="btn-group col-10">
                <li class="list-group-item col-5 col-sm-6 me-2"><a class="dropdown-item All3" target="_blank" href="./pages/العلوم.html">كلية العلوم</a></li>
                <li class="list-group-item col-5 col-sm-6"><a class="dropdown-item All3" target="_blank" href="./pages/التجارة.html">كلية التجارة</a></li>
              </div>
              <div class="btn-group col-10">
                <li class="list-group-item col-5 col-sm-6 me-2"><a class="dropdown-item All3" target="_blank" href="./pages/الطب.html">كلية الطب</a></li>
                <li class="list-group-item col-5 col-sm-6"><a class="dropdown-item All3" target="_blank" href="./pages/الزراعة.html">كلية الزراعة</a></li>
              </div>
              <div class="btn-group col-10">
                <li class="list-group-item col-5 col-sm-6 me-2"><a class="dropdown-item All3" target="_blank" href="./pages/التكنولوجياوالتعليم.html">كلية التكنولوجيا والتعليم</a></li>
                <li class="list-group-item col-5 col-sm-6"><a class="dropdown-item All3" target="_blank" href="./pages/التمريض.html">كلية التمريض</a></li>
              </div>
              <div class="btn-group col-10">
                <li class="list-group-item col-5 col-sm-6 me-2"><a class="dropdown-item All3" target="_blank" href="./pages/الهندسة.html">كلية الهندسة</a></li>
                <li class="list-group-item col-5 col-sm-6"><a class="dropdown-item All3" target="_blank" href="./pages/الطب البيطرى.html">كلية الطب البيطرى</a></li>
              </div>
              <div class="btn-group col-10">
                <li class="list-group-item col-5 col-sm-6 me-2"><a class="dropdown-item All3" target="_blank" href="./pages/الصيدلة.html">كلية الصيدلة</a></li>
                <li class="list-group-item col-5 col-sm-6"><a class="dropdown-item All3" target="_blank" href="./pages/التربية الرياضية.html">كلية التربية الرياضية</a></li>
              </div>
              <div class="btn-group col-10">
                <li class="list-group-item col-5 col-sm-6 me-2"><a class="dropdown-item All3" target="_blank" href="./pages/الحقوق.html">كلية الحقوق</a></li>
                <li class="list-group-item col-5 col-sm-6"><a class="dropdown-item All3" target="_blank" href="./pages/الالسن.html">كلية الالسن</a></li>
              </div>
              <div class="btn-group col-10">
                <li class="list-group-item col-5 col-sm-6 me-2"><a class="dropdown-item All3" target="_blank" href="./pages/الاثار.html">كلية الاثار</a></li>
                <li class="list-group-item col-5 col-sm-6"><a class="dropdown-item All3" target="_blank" href="./pages/حاسبات و معلومات.html">كلية الحاسبات والذكاء الاصطناعي</a></li>
              </div>
              <div class="btn-group col-10">
                <li class="list-group-item col-5 col-sm-6 me-2"><a class="dropdown-item All3" target="_blank" href="./pages/التربيةالنوعية.html">كلية التربية النوعية</a></li>
                <li class="list-group-item col-5 col-sm-6"><a class="dropdown-item All3" target="_blank" href="./pages/الدراسات_العليا.html">كلية الدراسات العليا والبحوث البيئية</a></li>
              </div>
              <div class="btn-group col-10">
                <li class="list-group-item col-5 col-sm-6 mx-auto"><a class="dropdown-item All3" target="_blank" >كلية طب الاسنان</a></li>
              </div>
            </div>
          </ul>
        </div>
      </li>
      <li class="nav-item col-2 d-flex justify-content-end">
        <a href="#Al" class="All nav-link text-light hov">الدورات</a>
      </li>
      <li class="nav-item col-2 d-flex justify-content-end">
        <a href="#media" class="All nav-link text-light hov">media</a>
      </li>
      <li class="nav-item col-2 d-flex justify-content-end">
        <a href="login" class="All nav-link text-light hov">login</a>
      </li>
    </div>
    <div class="dropdown All col-2 d-flex justify-content-center hov">
      <button class="All btn dropdown-toggle w-75 text-light" type="button" data-bs-toggle="dropdown" aria-expanded="false"><img style="width: 2vw;" class="me-1" src="egegyptflag_111647.png" alt="اللغة العربية">Ar</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item All" href="#" onclick="refresh()"><img style="width: 2vw;" src="egegyptflag_111647.png" alt="اللغة العربية"> Ar</a></li>
      </ul>
    </div>
    </ul>
  </div>
</nav>
