<nav id="nav" class="navbar navbar-expand w-100 py-2 py-sm-1">
  <div class="container-fluid w-100 row">
    <ul
      class="navbar-nav nav-pills row d-flex align-items-center justify-content-center"
    >
      <div class="col-2 d-none d-sm-flex">
        <li
          class="nav-item col-0 col-sm-12 d-none d-sm-flex justify-content-end"
        >
          <a routerLink="" class="d-flex justify-content-end nav-link hov"
            ><img style="width: 2.8vw" src="372897.svg" alt="photo"
          /></a>
        </li>
      </div>
      <div class="col-10 col-sm-8 d-flex justify-content-center">
        <li class="nav-item col-2 d-flex justify-content-end">
          <a href="#top" class="All nav-link hov"
            ><i class="icwn fa-solid fa-house-chimney"></i
          ></a>
        </li>
        <li class="nav-item col-3 col-sm-2 d-flex justify-content-end">
          <div class="dropdown">
            <a
              href="#college"
              class="btn dropdown-toggle All nav-link text-light hov"

              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              الكليات
            </a>
            <ul class="dropdown-menu bg-primary-subtle">
              <div class="btn-toolbar col-12 ">
                <div class="btn-group d-flex flex-column">
                  @for (college of colleges; track $index) {
                    <li class="list-group-item">
                      <a
                      class="dropdown-item All3"
                      target="_blank"
                      [routerLink]="['/college/',college.id]"
                      >{{college.name}}</a
                      >
                    </li>

                  }
                  </div>
              </div>
            </ul>
          </div>
        </li>
        <li class="nav-item col-2 d-flex justify-content-end">
          <a
            href="#Al"
            class="All nav-link text-light hov"

            >الدورات</a
          >
        </li>
        <li class="nav-item col-2 d-flex justify-content-end">
          <a
            href="#media"
            class="All nav-link text-light hov"

            >media</a
          >
        </li>
        <li class="nav-item col-2 d-flex justify-content-end">
          <a
            routerLink="/login"
            class="All nav-link text-light hov"
            >Login</a
          >
        </li>
      </div>
      <div class="dropdown All col-2 d-flex justify-content-center hov">
        <button

          class="All btn dropdown-toggle w-75 text-light"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            style="width: 2vw"
            class="me-1"
            src="egegyptflag_111647.png"
            alt="اللغة العربية"
          />Ar
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item All hov" href="#" onclick="refresh()"
              ><img
                style="width: 2vw"
                src="egegyptflag_111647.png"
                alt="اللغة العربية"
              />
              Ar</a
            >
          </li>
        </ul>
      </div>
    </ul>
  </div>
</nav>
