@if (!bool ) {
<div class="container w-50 my-5 d-flex flex-column justify-content-center shadow-lg color">
  <div class="row w-100 d-flex justify-content-center">
    <form class="row w-50 gy-3 gx-0 py-3 rounded-2"
(ngSubmit)="checkpassword(pass.value)"
#check="ngForm">
  <h3 class="text-center fw-bolder my-1 All1">Write Your password</h3>
  <div class="d-flex justify-content-center All2">
    @if (errorpass!='') {
      <div class="container my-1 d-flex justify-content-center text-bg-danger">
        <h3 class="All1 text-center fw-bolder my-1">{{errorpass}}</h3>
        </div>
    }
  </div>
  <div class="col-10 mx-auto">
    <label for="inputPassword4" class="form-label All1">Password</label>
    <input
      type="password"
      class="form-control"
      id="inputPassword4"
      required
      name="password"
      [(ngModel)]="user.password"
      #passwordinput="ngModel"
      #pass
      minlength="6"
     pattern="^([a-zA-Z]+|\d+|(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@.]).{6,})$"
      [ngClass]="{'is-invalid': (passwordinput.dirty || passwordinput.touched)&& passwordinput.invalid,
        'is-valid':passwordinput.valid
      }"
    />
    <div class="invalid-feedback All">
      @if(passwordinput.errors?.['required'] ) {
        <span>password is required</span>
      } @else if (passwordinput.errors?.['minlength'] ) {
        <span>password most be at least 6 charcters</span>
      }
      @else if (passwordinput.errors?.['pattern'] ) {
        <span>password most be at least one small and one captail charcters and numbers</span>
      }

    </div>
  </div>
  <div class="col-10 mx-auto All1">
    <button type="submit" class="btn btn-dark" [disabled]="check.invalid">Update</button>
  </div>
</form>
</div>
@if (select==true) {
  <div class="row w-100 d-flex justify-content-center">
    <form class="row w-50 gy-3 gx-0 py-3 rounded-2"
    (ngSubmit)="updatePassword(pass1.value,pass2.value)"
    #update="ngForm">
      <h3 class="text-center fw-bolder my-1 All1">Update password</h3>
      <div class="d-flex justify-content-center">
        @if (errorMessage!='') {
          <div class="container my-5 d-flex justify-content-center text-bg-danger">
            <h3 class="text-center fw-bolder my-1">{{errorMessage}}</h3>
            </div>
        }
      </div>
      <div class="col-10 mx-auto">
        <label for="inputPassword1" class="form-label All1">Update Password</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword1"
          required
          name="Updatepassword"
          [(ngModel)]="password1"
          #Updatepasswordinput="ngModel"
          #pass1
          minlength="6"
         pattern="^([a-zA-Z]+|\d+|(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@.]).{6,})$"
          [ngClass]="{'is-invalid': (Updatepasswordinput.dirty || Updatepasswordinput.touched)&& Updatepasswordinput.invalid,
            'is-valid':Updatepasswordinput.valid
          }"
        />
        <div class="invalid-feedback All">
          @if (Updatepasswordinput.errors?.['required'] ) {
            <span>password is required</span>
          } @else if (Updatepasswordinput.errors?.['minlength'] ) {
            <span>password most be at least 6 charcters</span>
          }
          @else if (Updatepasswordinput.errors?.['pattern'] ) {
            <span>password most be at least one small and one captail charcters and numbers</span>
          }
        </div>
      </div>
      <div class="col-10 mx-auto">
        <label for="inputPassword2" class="form-label All1">Retype the password</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword2"
          required
          name="newpassword"
          [(ngModel)]="password2"
          #newpasswordinput="ngModel"
          #pass2
          minlength="6"
         pattern="^([a-zA-Z]+|\d+|(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@.]).{6,})$"
          [ngClass]="{'is-invalid': (newpasswordinput.dirty || newpasswordinput.touched)&& newpasswordinput.invalid,
            'is-valid':newpasswordinput.valid
          }"
        />
        <div class="invalid-feedback All">
          @if (newpasswordinput.errors?.['required'] ) {
            <span>password is required</span>
          } @else if (newpasswordinput.errors?.['minlength'] ) {
            <span>password most be at least 6 charcters</span>
          }
          @else if (newpasswordinput.errors?.['pattern'] ) {
            <span>password most be at least one small and one captail charcters and numbers</span>
          }
        </div>
      </div>
      <div class="col-10 mx-auto">
        <button type="submit" class="btn btn-dark All1" [disabled]="update.invalid">Update</button>
      </div>
    </form>
  </div>
}
</div>
}
@if(bool==true) {
  <div class="container my-5 d-flex justify-content-center text-bg-success All1">
    <h3 class="text-center fw-bolder my-1">update passwored is correct</h3>
    </div>
  <div class="container my-5 d-flex justify-content-center">
    <button class="btn btn-primary All1" (click)="back()">back</button>
  </div>
}
