@if (!bool) {
  <div class="container w-50 my-5 d-flex flex-column justify-content-center align-items-center shadow-lg color">
@for (summary of summaries; track $index) {
  <div class="col-10 my-2 py-1 text-bg-primary d-flex justify-content-evenly align-items-center">
    <p class=" All2">{{summary.title}}</p>
    <a class="btn btn-danger All2" [routerLink]="'/updatesummary'" (click)="clickSummary(summary.id)" title="{{summary.title}}">update</a>
    <button class="btn btn-danger All2" (click)="DeleteSummary(summary)">delete</button>
  </div>
}
</div>
}

@if (bool==true) {
  <div class="container my-5 d-flex justify-content-center text-bg-success">
    <h3 class="text-center fw-bolder my-1">{{message}}</h3>
    </div>
 }

