<footer style="background-color: #333333;" id="media" class="container-ms|md|lg|xl|xxl text-light py-3">
  <h4
    class="d-flex justify-content-evenly py-2 All2"
  >
    Media
  </h4>
  <div class="d-flex justify-content-center">
    <a
      href="https://m.facebook.com/sumc2006/?locale2=ar_AR"
      target="_blank"
      class="d-flex justify-content-center text-decoration-none me-3"
    >
      <img class="rounded-circle" style="width: 3vw;" src="2023_Facebook_icon.svg.jpg">
    </a>
    <a
      href="https://www.sohag-univ.edu.eg/ar/home/"
      class="d-flex justify-content-center text-decoration-none me-3"
      target="_blank"
    >
      <img class="rounded-circle" src="image8-2.jpg" style="width: 3vw;">
    </a>
  </div>
  <div class="mt-4">
    <p class="d-flex justify-content-center All3" style="opacity: 0.4">
      Copyright&copy;Your Website 2024
    </p>
  </div>
</footer>
