<div class="container d-flex justify-content-center align-items-center">
  <div class="row w-50 gy-3 gx-0 p-3 mt-5 d-flex justify-content-center shadow-lg color rounded-2">
    <a class="btn btn-primary col-8 All1" [routerLink]="'../addCollege'">Add College</a>
    <a class="btn btn-primary col-8 All1" [routerLink]="'../addDepartment'">Add Department</a>
    <a class="btn btn-primary col-8 All1" [routerLink]="'../addYear'">Add Year</a>
    <a class="btn btn-primary col-8 All1" [routerLink]="'../addSubject'">Add Subject</a>
    <a class="btn btn-primary col-8 All1" [routerLink]="'../addUser'">Add User</a>
  </div>
  </div>
