<!-- <nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/Dashboard">{{user}}</a>
    <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/Dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="summarymanager/">إدارة الملخصات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="reviewmanager/">إدارة المراجعات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="testmanager/">إدارة الاختبارات السابقة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="exammanager/">إدارة الامتحانات</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<router-outlet></router-outlet>
